body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(to right, #add8e6, #d8bfd8);
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    box-shadow: 0 0 10px lightgray;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}

main {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

section {
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
